body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color: green;
}

#board {
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
}
