body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color: green;
    }

#board {
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
}
